.search-wrapper {
  z-index: 10;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100vw;
  font-family: "Mulish", sans-serif;
}

.search-options-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.search-options-container ul.places {
  list-style: none;
  padding-inline-start: 0;
  display: none;
}

.search-options-container ul.places li {
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  width: 30vw;
  user-select: none;
}

.search-options-container ul.places li:hover {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.search-options-container ul.places .icon.location {
  padding: 0 8px 0 0;
}

.guest-input-container {
  display: none;
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.guest-input-container .subcontainer:nth-child(2) {
  margin-top: 1.5rem;
}

.guest-input-container .guest-heading {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

.guest-input-container .guest-subheading {
  font-weight: 400;
  font-size: 14px;
  margin: 2px 0 12px 0;
  color: #bdbdbd;
}

.searchbox-big {
  display: flex;
  padding: 2rem 1rem 1rem 1rem;
  justify-content: center;
}

.searchbox-big .heading {
  font-family: inherit;
  font-weight: 800;
  font-size: 0.7rem;
  margin-top: 0px;
  margin-bottom: 4px;
}

.searchbox-big .container-location,
.searchbox-big .container-guests {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 30vw;
  padding: 0.5rem 1.5rem;
  height: max-content;
  margin-right: 1rem;
}

.searchbox-big .container-location.active,
.searchbox-big .container-guests.active {
  border: 1px solid #333333;
}

.searchbox-big .container-location .input-location {
  border: none;
  width: 100%;
  font-family: inherit;
}

.searchbox-big .container-location .input-location:focus {
  outline: none;
}

.searchbox-big .container-guests .value-guests {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.searchbox-big .btn-search-big {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: none;
  font-family: inherit;
  padding: 0 1.5rem;
  max-height: 6vh;
}

.searchbox-big .btn-search-big:focus {
  outline: none;
}

.searchbox-big .btn-search-big .icon {
  padding: 0 5px 0 0;
}

.searchbox-big .btn-searchClose {
  position: absolute;
  right: 1.5rem;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.searchbox-big .btn-searchClose:focus {
  outline: none;
}

@media (max-width: 420px) {
  .search-options-container ul.places li {
    width: 80vw;
  }
  .searchbox-big {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
  }

  .searchbox-big .container-location,
  .searchbox-big .container-guests {
    width: 80vw;
    height: max-content;
  }

  .searchbox-big .btn-search-big {
    padding: 1.1rem 1.5rem;
    margin-top: 2rem;
  }
}
